@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
  font-family: 'Chomsky';
  src: url('./Assets/Chomsky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerTitle{
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 90%;
}
a{
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: #000;
  text-decoration: none;  
}
p{
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 16px;
  font-size: 1.5vw;
  line-height: 1.9vw;
  color: #5a5a5a;
  width: 80%;
}
h3{
  font-family: "Lora", serif;
  color: #adadad;
  font-weight: 100;
  font-size: 1.2vw;
}
.shelfContainer{
  display: relative;
  width: 50vw;
  margin-bottom: 72px;
}
.wholeShelf{
  width: 50vw;
  position: absolute;
}
.book-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-left: 2vw;
  margin-right: 2vw;
}
.book {
  position: relative; /* Position relative for absolute positioning of info */
  height: 22vw;
  display: flex; /* Enable flexbox for centering content */
  flex-direction: column; /* Ensure the content flows vertically */
  justify-content: flex-end; /* Align content to the bottom */
  bottom: 16px;
}
.book-cover {
  width: 10vw;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}
.book-cover:hover {
  transform: translateY(-5%);
  cursor: pointer;
}
.book-info {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16px);
  z-index: 10;
}
.book-info.active {
  display: flex; /* Show the info when active */
  flex-direction: row;
  width: 50vw;
}
.book-title {
  margin: 12px 0 0px; /* Space for title */
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-size: 3vw;
  color: #fff;
}
.book-author {
  margin: 0; /* Remove default margin */
  font-family: "Averia Serif Libre", serif;
  font-weight: 200;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.5);
}
.book-description {
  font-family: "Lora", serif;
  margin: 5px 0; /* Space around description */
  font-size: 2vw;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
}
.close-info {
  margin-top: 10px; /* Space above the close button */
  background-color: #ff5722; /* Close button color */
  color: white; /* Close button text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Padding for button */
  border-radius: 5px; /* Rounded corners for button */
  cursor: pointer; /* Change cursor to pointer */
}
.close-info:hover {
  background-color: #e64a19; /* Darker color on hover */
}
.shelfSVG{
  display: block;
}
.articleContainer{
  margin-bottom: 48px;
  width: 50vw;
  cursor: pointer;
}
.articleContainer:hover{
  a{
    text-decoration: underline;
  }
}
.thumbnailImage{
  width: 100%;
}
.thumbnail3D{
  width: 100%;
  height: 30vw;
  cursor: auto;
  border: 1px solid #f5f5f7;
}

@media only screen and (max-width: 768px) {
  a{
    font-size: 6vw;
  }
  p{
    font-size: 4vw;
    line-height: 4.9vw;
    width: 100%;
  }
  .articleContainer{
    width: 90vw;
  }
  h3{
    font-size: 3vw;
  }
}