@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
  font-family: 'Chomsky';
  src: url('./Assets/Chomsky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: 'Chomsky';
  font-size: 8vw;
  font-weight: 400;
}
a{
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: #000;
  text-decoration: none;  
}
p{
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 16px;
  font-size: 1.5vw;
  line-height: 1.9vw;
  color: #5a5a5a;
  width: 80%;
}
h3{
  font-family: "Lora", serif;
  color: #adadad;
  font-weight: 100;
  font-size: 1.2vw;
}
.articleContainer{
  margin-bottom: 48px;
  max-width: 50vw;
  cursor: pointer;
}
.articleContainer:hover{
  a{
    text-decoration: underline;
  }
}
.thumbnailImage{
  width: 100%;
}

@media only screen and (max-width: 768px) {
  h1{
    font-size: 15vw;
  }
  a{
    font-size: 6vw;
  }
  p{
    font-size: 4vw;
    line-height: 4.2vw;
    width: 100%;
  }
  .articleContainer{
    max-width: 90vw;
  }
  h3{
    font-size: 3vw;
  }
}