@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
  font-family: 'Chomsky';
  src: url('./Assets/Chomsky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerTitle{
  margin-top: 64px;
  margin-bottom: 64px;
  max-width: 90%;
}
a{
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: #000;
  text-decoration: none;  
}
p{
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 16px;
  font-size: 1.5vw;
  line-height: 1.9vw;
  color: #5a5a5a;
  width: 80%;
}
h3{
  font-family: "Lora", serif;
  color: #adadad;
  font-weight: 100;
  font-size: 1.2vw;
}
.shelfContainer{
  display: relative;
  width: 50vw;
  margin-bottom: 72px;
}
.shelfOverlay{
  display: flex;
  align-items: start;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  width: 34vw;
  margin: 4vw;
  padding: 4vw;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0; /* Start with invisible overlay */
  visibility: hidden; /* Start with overlay not visible */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transition effect */
}
.shelfOverlay.active {
  opacity: 1; /* Fully visible when active */
  visibility: visible; /* Make overlay visible */
}
.wholeShelf{
  width: 50vw;
  position: absolute;
}
.book-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-left: 2vw;
  margin-right: 2vw;
}
.book {
  position: relative; /* Position relative for absolute positioning of info */
  height: 22vw;
  display: flex; /* Enable flexbox for centering content */
  flex-direction: column; /* Ensure the content flows vertically */
  justify-content: flex-end; /* Align content to the bottom */
  bottom: 16px;
}
.book-cover {
  width: 10vw;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}
.book-cover:hover {
  transform: translateY(-5%);
  cursor: pointer;
}
.book-overlay-cover{
  height: 20vw;
}
.book-title {
  padding-top: 16px;
  text-align: left;
  line-height: 1.1;
  margin: 12px 0 0px; /* Space for title */
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-size: 3vw;
  color: #000;
}
.book-author {
  text-align: left;
  margin: 0;
  padding-top: 8px;
  font-family: "Averia Serif Libre", serif;
  font-weight: 200;
  font-size: 2vw;
  color: #b7b7b7;
}
.book-description {
  padding-top: 4px;
  width: 100%;
  font-family: "Lora", serif;
  margin: 5px 0; /* Space around description */
  font-size: 1.5vw;
  line-height: 1.4;
  color: #000;
}
.close-info {
  width: 100%;
  background-color: #fff;
  font-family: "Lora", serif;
  font-size: 1.5vw;
  color: #000;
  border: none;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #000;
  transition: 0.3s ease;
}
.close-info:hover{
  background-color: #000;
  color: #fff;
}

.shelfSVG{
  display: block;
}
.articleContainer{
  margin-bottom: 48px;
  width: 50vw;
  cursor: pointer;
}
.articleContainer:hover{
  a{
    text-decoration: underline;
  }
}
.thumbnailImage{
  width: 100%;
}
.thumbnail3D{
  width: 100%;
  height: 30vw;
  cursor: auto;
  border: 1px solid #f5f5f7;
}

@media only screen and (max-width: 768px) {
  a{
    font-size: 6vw;
  }
  p{
    font-size: 4vw;
    line-height: 4.9vw;
    width: 100%;
  }
  .articleContainer{
    width: 90vw;
  }
  h3{
    font-size: 3vw;
  }
  .shelfContainer{
    width: 90vw;
  }
  .wholeShelf{
    width: 90vw;
  }
  .book{
    height: 39vw;
  }
  .book-cover{
    width: 17vw;
  }
  .shelfOverlay{
    width: 74vw;
  }
  .book-overlay-cover{
    height: 40vw;
  }
  .book-title{
    padding-top: 8px;
    font-size: 6vw;
  }
  .book-author{
    font-size: 4vw;
  }
  .book-description{
    font-size: 3vw;
  }
  .close-info{
    font-size: 3vw;
  }
}