@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}
.headerTitle{
  margin-top: 64px;
  margin-bottom: 64px;
  max-width: 90%;
}
a{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
  color: #fff;
  text-decoration: none;  
}
p{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 16px;
  font-size: 1.5vw;
  line-height: 1.9vw;
  color: #878787;
  width: 80%;
}
h3{
  font-family: "Inter", sans-serif;
  color: #878787;
  font-weight: 300;
  font-size: 1.2vw;
}
.articleContainer{
  margin-bottom: 48px;
  width: 50vw;
  cursor: pointer;
}
.articleContainer:hover{
  a{
    text-decoration: underline;
  }
}
.thumbnailImage{
  width: 100%;
}
@media only screen and (max-width: 768px) {
  a{
    font-size: 6vw;
  }
  p{
    font-size: 4vw;
    line-height: 4.9vw;
    width: 100%;
  }
  .thumbnail3D{
    height: 60vw;
  }
  .articleContainer{
    width: 90vw;
  }
  h3{
    font-size: 3vw;
  }
}