html{
    background-color: #FF5454;
    background: url('assets/tile.svg');
    background-repeat: repeat;
    background-size: 250px;
    animation: scroll 25s linear infinite;
}
@keyframes scroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1000px 1000px; /* Adjust this value for the speed of scrolling */
    }
  }
body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}
.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    padding: 24px;
    margin: 48px;
    max-width: 900px;
}
.cupholderVideo{
    width: 130%;
}
.ytIframe{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.optionsContainer{
    padding-left: 24px;
}
.cupholderOption{
    margin-bottom: 32px;
}
.cupholderOption:last-child{
    margin-bottom: 0;
}
.thumbnailImage{
    max-width: 100%;
    border-radius: 12px;
}
.thumbnail3D{
    width: 100%;
    height: 22vw;
    border: 1px solid #f5f5f7;
    border-radius: 12px;
}
h3{
    padding: 0;
    padding-top: 8px;
    margin: 0;
    font-weight: 500;
}
p{
    padding: 0;
    padding-top: 4px;
    margin: 0;
    margin-bottom: 16px;
    color: #828282;
    font-weight: 400;
}
.button{
    color: white;
    display: inline-block;
    background-color: #FF5454;    
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    font-size: 16px;
}
.buttonDisabled{
    color: white;
    background-color: #c1c1c1;    
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}
@media only screen and (max-width: 768px) {
    .contentContainer{
        flex-direction: column;
        padding: 12px;
        width: 80vw;
    }
    .optionsContainer{
        padding-left: 0px;
        padding-top: 12px;
        width: 100%;
    }
    .cupholderVideo{
        width: 100%;
        height: 142vw;
    }
    .thumbnail3D{
        height: 42vw;
    }
    .button{
        width: 95%;
    }
    .buttonDisabled{
        width: 100%;
    }
}